<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jelle's</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for jelle.io" href="/rss.xml" />
    <link href="https://fonts.googleapis.com/css?family=Astloch|IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body class="index">

  {{#items}}
    <h1><a href="{{slug}}.html">{{generated_title}}<span class="deco">{{generated_title}}</span></a></h1>
  {{/items}}
  </body>
</html>
